# Your Telegram bot token obtained using @BotFather
TELEGRAM_BOT_TOKEN="tel bot token"

# Telegram target chat ID (required, can be channel ID like @channelname or user ID like 123456789)
TELEGRAM_TARGET_CHAT="@xxxxx"

#DISCORD_TOKEN=""



#Email
EMAIL_SMTP_SERVER=smtp.qq.com
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=779659252@qq.com
EMAIL_PASSWORD=iswealkdbdjabdaj
EMAIL_FROM=779659252@qq.com
EMAIL_TO=779659252@qq.com
EMAIL_USE_TLS=true